/* src/pages/Inventory.css */
.inventory-container {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.inventory-table th {
  background-color: #f4f4f4;
}
