/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.main-content {
  flex: 1;
  min-height: calc(100vh - 80px - 60px); /* Ajusta las alturas del header y footer */
  display: flex;
  flex-direction: column;
}